<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<!-- //header -->
<header class="py-4">
	<div class="container">
			<div id="logo">
				<h1> <a href=""><span class="fa fa-laptop-medical" aria-hidden="true"></span> AIppointment</a></h1>
			</div>
  </div>
</header>

<div class="container my-5">
    
</div>

<!-- copyright -->
<div class="copy-right-top border-top">
	<p class="copy-right text-center py-4">&copy; 2020 AIppointment | Bogotá, Colombia
	</p>
</div>
<!-- //copyright -->