<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<!-- //header -->
<header class="py-4">
	<div class="container">
			<div id="logo">
				<h1> <a href=""><span class="fa fa-laptop-medical" aria-hidden="true"></span> AIppointment</a></h1>
			</div>
  </div>
</header>
<!-- //header -->
<div class="container my-5">
    <!--Section: Content-->
    <section class="team-section text-center dark-grey-text">
  
      <!-- Section heading -->
      <h3 class="font-weight-bold pb-2 mb-4">¡Bienvenido!</h3>
      <!-- Section description -->
      <p class="text-muted w-responsive mx-auto mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam
        eum porro a pariatur veniam.</p>
  
      <!-- Grid row -->
      <div class="row text-center">
  
        <!-- Grid column -->
        <div class="col-md-4 mb-4">
            <div class="container my-2 py-5 z-depth-1">
                <!--Section: Content-->
                <section class="text-center px-md-5 mx-md-5 dark-grey-text">
                    <h5 class="font-weight-bold">nombres</h5>
                    <h5 class="font-weight-bold">apellidos</h5>
                    <br>
                    <h6 class="font-weight-bold">tipo_de_documento</h6>
                    <h6 class="font-weight-bold">num_identificacion</h6>
                </section>
                <!--Section: Content-->
              </div>
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-4 mb-4">
            <div class="container my-2 py-5 z-depth-1" style="background-color: #059D98;">
                <!--Section: Content-->
                <a class="text-center px-md-5 mx-md-5 white-text" href="p/home/#asignAppointment">
                  <h1 class="font-weight-bold"><span class="fa fa-calendar-check" aria-hidden="true"></span></h1>
                  <h2 class="font-weight-bold">Agenda tu cita </h2>
                </a>
                <!--Section: Content-->
              </div>
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-4 mb-4">
            <div class="container my-2 py-5 z-depth-1" style="background-color: #059D98;">
                <!--Section: Content-->
                <a class="text-center py-1 px-md-5 mx-md-5 white-text" href="videocall">
                  <h1 class="font-weight-bold"><span class="fa fa-heartbeat" aria-hidden="true"></span></h1>
                  <h2 class="font-weight-bold">Ingrese a su cita </h2>
                </a>
                <!--Section: Content-->
              </div>
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </section>
    <!--Section: Content-->  
  </div>

<!-- copyright -->
<div class="copy-right-top border-top">
	<p class="copy-right text-center py-4">&copy; 2020 AIppointment | Bogotá, Colombia
	</p>
</div>
<!-- //copyright -->

<!-- popup for agendar una cita -->
<div id="asignAppointment" class="popup-effect">
	<div class="popup">
		<div class="login px-sm-4 mx-auto mw-100">
            <h5 class="text-center mb-4">Agendar cita médica</h5>
            <h6 class="text-center mb-4">Se enviará con correo electrónico con los detalles de la cita médica.</h6>
			<form action="#" method="post">
				<div class="form-group">
					<label>Fecha de la cita</label>
          <input type="date" class="form-control" id="dateAppointment" placeholder="" required="">
          <label>Hora de la cita</label>
          <input type="time" class="form-control" id="dateAppointment" min="08:00" max="18:30" placeholder="" required="">
          <small class="form-text text-muted">Recuerde que la citas tienen una duración máxima de 30min</small>
				</div>
				<button type="submit" class="btn btn-primary submit">Agendar</button>
			</form>
		</div>
		<a class="close" href="/p/home">&times;</a>
	</div>
</div>
<!-- //popup for agendar una cita -->


<!-- popup for when there's no medical appointment at that hour -->
<div id="noAppointment" class="popup-effect">
	<div class="popup">
		<div class="login px-sm-4 mx-auto mw-100">
            <h5 class="text-center mb-4">Ingresar a la cita médica</h5>
            <h6 class="text-center mb-4">A esta hora, no se encuentra reservada una cita médica.
              Intenta más tarde. 
              <br>
              <br>
              En caso de que la plataforma siga presentando inconvenientes escribe un correo
              a contacto_aippointment@gmail.com
            </h6>
		</div>
		<a class="close" href="/p/home">&times;</a>
	</div>
</div>
<!-- //popup for when there's no medical appointment at that hour -->