<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!-- //header -->
<header class="py-4">
	<div class="container">
			<div id="logo">
				<h1> <a href=""><span class="fa fa-laptop-medical" aria-hidden="true"></span> AIppointment</a></h1>
			</div>
	</div>
</header>
<!-- //header -->
		
<!-- banner -->
<div class="banner" id="home">
	<div class="container">
		<div class="row banner-text">
			<div class="slider-info col-lg-6">
				<div class="banner-info-grid mt-lg-5">
					<h2>Welcome To Digital Marketing Agency </h2>
					<p>Integer pulvinar leo id viverra feugiat. Pellentesque libero justo, semper at tempus vel, ultrices in ligula.
					Nulla ut sollicitudin velit. Sed porttitor orci vel fermentum maximus. Curabitur ut turpis massa.</p>
                </div>
                <a class="btn mr-2 text-capitalize" href="#login">INGRESAR</a>
			</div>
			<div class="col-lg-6 col-md-8 mt-lg-0 mt-sm-5 mt-3 banner-image text-lg-center">
				<img src="./../../assets/img/banner.png" alt="" class="img-fluid"/>
            </div>
		</div>
	</div>
</div>
<!-- //banner -->

<!-- about -->
<section class="about py-5" id="about">
	<div class="container py-lg-5 py-sm-3">
		<div class="row">
			<div class="col-lg-3 about-left">	
				<h3 class="heading mb-lg-5 mb-4">ACERCA DE NOSOTROS</h3>
			</div>
			<div class="col-lg-5 col-md-7 about-text">
				<h3>Welcome To Our Digital Marketing Agency Website </h3>
				<p class="mt-3">Integer pulvinar leo id viverra feugiat. Pellentesque libero justo, semper at tempus vel, ultrices in ligula. Nulla uter sollicitudin velit. Sed porttitor orci vel ferm.</p>
				<p class="mt-2">Integer pulvinar leo id viverra feugiat. Pellentesque libero justo, semper at tempus vel, ultrices in ligula. Nulla uter sollicitudin velit. Sed porttitor orci vel fermentum elit maximus. Curabitur ut turpis massa in condimentum libero. Pellentesque maximus.</p>
			</div> 
			<div class="col-lg-4 col-md-5 about-img">
				<img src="./../../assets/img/acerca.png" alt="" class="img-fluid"/>
			</div>
		</div>
	</div>
</section>
<!-- //about -->
<!-- Offered Services -->
<section class="process py-5" id="process">
	<div class="container py-md-3">
		<h3 class="heading mb-5">NUESTROS PILARES</h3>
		<div class="row process-grids">
			<div class="col-lg-3 col-md-6 my-lg-4 w3pvt-ab position-relative">
				<div class="">
					<img src="images/1.png" alt="" class="img-fluid">
				</div>
				<h4 class="feed-title my-md-3 mb-3">Marketing Products</h4>
				<p> Excepteur ut occaecat proident, sunt in culpa quis. Phasellus lacinia id erat risus quis.</p>
			</div>
			<div class="col-lg-3 col-md-6 my-lg-4 mt-md-0 mt-4 w3pvt-ab position-relative">
				<div class="">
					<img src="images/2.png" alt="" class="img-fluid">
				</div>
				<h4 class="feed-title my-md-3 mb-3">Advertising Agency</h4>
				<p> Excepteur ut occaecat proident, sunt in culpa quis. Phasellus lacinia id erat risus quis.</p>
			</div>
			<div class="col-lg-3 col-md-6 my-lg-4 mt-sm-5 mt-4 w3pvt-ab position-relative">
				<div class="">
					<img src="images/1.png" alt="" class="img-fluid">
				</div>
				<h4 class="feed-title my-md-3 mb-3">Process Planning</h4>
				<p> Excepteur ut occaecat proident, sunt in culpa quis. Phasellus lacinia id erat risus quis.</p>
			</div>
			<div class="col-lg-3 col-md-6 mt-lg-4 mt-sm-5 mt-4 w3pvt-ab">
				<div class="">
					<img src="images/2.png" alt="" class="img-fluid">
				</div>
				<h4 class="feed-title my-md-3 mb-3">Product Sales</h4>
				<p> Excepteur ut occaecat proident, sunt in culpa quis. Phasellus lacinia id erat risus quis.</p>
			</div>
		</div>
	</div>
</section>
<!-- Offered Services -->

<!-- video -->
<section class="video py-5" id="video">
	<div class="container">
		<div class="inner-sec-w3ls py-lg-5 py-3">
			<div class="row">
				<div class="col-lg-6 video-right px-lg-5 px-2">
					<h3 class="tittle-w3">NUESTRA MISIÓN</h3>
					<p class="mt-4">Lorem ipsum dolor sit amet Neque porro quisquam est qui dolorem Lorem int ipsum dolor sit amet when an unknown printer took a galley of type.Vivamus id tempor felis. Cras sagittis mi sit amet malesuada mollis. Mauris porroinit consectetur cursus tortor vel interdum.</p>

				</div>
				<div class="col-lg-6 video-img mt-lg-0 mt-4" style="justify-items: center; align-items: center;">
					<img src="./../../assets/img/mission.png" alt="" class="img-fluid">
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //video -->

<!-- footer -->
<footer class="footer-emp-w3ls py-5">
	<div class="container pt-lg-3">
		<div class="row footer-top">
			<div class="col-lg-4 col-sm-6 footer-grid-wthree">
				<h4 class="footer-title text-uppercase mb-4">Who We Are</h4>
				<div class="contact-info">
					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium ipsum doloremque elit laudantium, totam rem
						aperiam, eaque ipsa quae. Excepteur ut occaecat proident, sunt voluptatem et accusantium doloremque elit dolor sit amet.</p>
					<h4 class="mt-3">Trusted by more than 1000+ people</h4>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 footer-grid-wthree mt-sm-0 mt-4">
				<h3 class="footer-title text-uppercase mb-4">Latest News</h3>
				<div class="contact-info">
					<div class="footer-style-w3ls">
						<h4 class="mb-2"><span class="fa mr-1 fa-twitter"></span> Sed ut piciatis unde natus</h4>
						<p>Sed ut perspiciatis unde omnis iste natus error sit volupta....</p>
						<p class="date">23 Nov 2018.</p>
					</div>
					<div class="footer-style-w3ls mt-3">
						<h4 class="mb-2"><span class="fa mr-1 fa-twitter"></span> Modi tempra incunt sit</h4>
						<p>Sed ut perspiciatis unde omnis iste natus error sit volupta....</p>
						<p class="date">24 Nov 2018.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 footer-grid-wthree mt-lg-0 mt-sm-5 mt-4">
				<h3 class="footer-title text-uppercase mb-4">Contact Us</h3>
				<div class="contact-info">
					<div class="footer-style-w3ls">
						<h4 class="mb-2"> <span class="fa mr-1 fa-map-marker"></span> Location</h4>
						<p>Marketing Agency, 5th cross, 4th building, New York City.</p>
					</div>
					<div class="footer-style-w3ls my-3">
						<h4 class="mb-2"><span class="fa mr-1 fa-phone"></span> Phone</h4>
						<p>+121 098 8907 9987</p>
					</div>
					<div class="footer-style-w3ls">
						<h4 class="mb-2"><span class="fa mr-1 fa-envelope-open"></span> Email</h4>
						<p><a href="mailto:info@example.com">info@example.com</a></p>
					</div>
				</div>
			</div>
			<div class="col-lg-2 col-sm-6 footer-grid-wthree mt-lg-0 mt-sm-5 mt-4">
				<h3 class="footer-title text-uppercase mb-4">Quick Links</h3>
				<ul class="links list-unstyled">
					<li>
						<a class="" href="#home"> Home</a>
					</li>
					<li>
						<a class="" href="#about"> About Us</a>
					</li>
					<li>
						<a class="" href="#services"> Services</a>
					</li>
					<li>
						<a class="" href="#process">Process</a>
					</li>
					<li>
						<a class="" href="#portfolio">Portfolio</a>
					</li>
					<li>
						<a class="" href="contact.html">Contact us</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>
<!-- //footer -->

<!-- copyright -->
<div class="copy-right-top border-top">
	<p class="copy-right text-center py-4">&copy; 2020 AIppointment | Bogotá, Colombia
	</p>
</div>
<!-- //copyright -->	
	
<!-- move top -->
<div class="move-top text-right">
	<a href="#home" class="move-top"> 
		<span class="fa fa-angle-up  mb-3" aria-hidden="true"></span>
	</a>
</div>
<!-- move top -->

<!-- popup for login -->
<div id="login" class="popup-effect">
	<div class="popup">
		<div class="login px-sm-4 mx-auto mw-100">
			<h5 class="text-center mb-4">Ingresar al portal</h5>
			<form action="#" method="post">
                <div class="form-group">
					<label class="mb-2">Número de identificación</label>
					<input type="text" class="form-control" id="Id" placeholder="" required="">
					<small class="form-text text-muted">Se debe ingresar sin puntos o guiones</small>
				</div>
				<div class="form-group">
					<label class="mb-2">Correo electrónico</label>
					<input type="email" class="form-control" id="Email" aria-describedby="emailHelp" placeholder="" required="">
				</div>
				<div class="form-group">
					<label class="mb-2">Contraseña</label>
					<input type="password" class="form-control" id="Password" placeholder="" required="">
				</div>
				<button type="submit" class="btn btn-primary submit mt-2">Login</button>
				<p class="text-center mt-2">
					<a href="#recoverpass">¿Olvidó su contraseña?</a>
				</p>
			</form>
		</div>

		<a class="close" href="#">&times;</a>
	</div>
</div>
<!-- //popup for login -->

<!-- popup for recovering password -->
<div id="recoverpass" class="popup-effect">
	<div class="popup">
		<div class="login px-sm-4 mx-auto mw-100">
            <h5 class="text-center mb-4">Recuperar contraseña</h5>
            <h6 class="text-center mb-4">Se enviará un correo para recuperar la contraseña de la cuenta adscrita.</h6>
			<form action="#" method="post">
				<div class="form-group">
					<label>Correo electrónico</label>
					<input type="email" class="form-control" id="validationEmail" placeholder="ejemplo@ejemplo.com" required="">
				</div>
				<button type="submit" class="btn btn-primary submit">Reestablecer contraseña</button>
			</form>
		</div>
		<a class="close" href="#">&times;</a>
	</div>
</div>
<!-- //popup for recovering password -->
