<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<!-- //header -->
<header class="py-4">
	<div class="container">
			<div id="logo">
				<h1> <a href=""><span class="fa fa-laptop-medical" aria-hidden="true"></span> AIppointment</a></h1>
			</div>
  </div>
</header>
<!-- //header -->

<div class="container my-5">
    <!--Section: Content-->
    <section class="team-section text-center dark-grey-text">
  
      <!-- Section heading -->
      <h3 class="font-weight-bold pb-2 mb-4">¡Bienvenido!</h3>
      <!-- Section description -->
      <p class="text-muted w-responsive mx-auto mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam
        eum porro a pariatur veniam.</p>
  
      <!-- Grid row -->
      <div class="row text-center">
  
        <!-- Grid column -->
        <div class="col-md-4 mb-4">
            <div class="container my-2 py-5 z-depth-1">
                <!--Section: Content-->
                <section class="text-center px-md-5 mx-md-5 dark-grey-text">
                    <h5 class="font-weight-bold">nombres</h5>
                    <h5 class="font-weight-bold">apellidos</h5>
                    <br>
                    <h6 class="font-weight-bold">especialidad</h6>
                    <h6 class="font-weight-bold">num_identificacion</h6>
                </section>
                <!--Section: Content-->
              </div>
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-4 mb-4">
            <div class="container my-2 py-5 z-depth-1" style="background-color: #059D98;">
                <!--Section: Content-->
                <a class="text-center px-md-5 mx-md-5 white-text" href="d/agenda">
                  <h1 class="font-weight-bold"><span class="fa fa-calendar-check" aria-hidden="true"></span></h1>
                  <h2 class="font-weight-bold">Revisar agenda del día</h2>
                </a>
                <!--Section: Content-->
              </div>
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-4 mb-4">
            <div class="container my-2 py-5 z-depth-1" style="background-color: #059D98;">
                <!--Section: Content-->
                <a class="text-center py-1 px-md-5 mx-md-5 white-text" href="videocall">
                  <h1 class="font-weight-bold"><span class="fa fa-heartbeat" aria-hidden="true"></span></h1>
                  <h2 class="font-weight-bold">Ingrese a consulta</h2>
                </a>
                <!--Section: Content-->
              </div>
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </section>
    <!--Section: Content-->  
  </div>

<!-- copyright -->
<div class="copy-right-top border-top">
	<p class="copy-right text-center py-4">&copy; 2020 AIppointment | Bogotá, Colombia
	</p>
</div>
<!-- //copyright -->